@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&family=Roboto:wght@300;400;700&display=swap');


:root {
    --cor1: #BFDFFF;
    --cor2: #4DA6FF;
    --cor3: #0F263D;
    --cor4: #0E3A5F;
    --cor5: #0A1A2F;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-textos: 'Roboto', 'cursive';
    --fonte-destaque: 'Orbitron', 'cursive';
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--cor1);
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));
    min-height: 150px;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte-destaque);
    padding-top: 30px;
    padding-bottom: 20px;
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
    font-weight: bold;
}

header p {
    font-family: var(--fonte-textos);
    color: white;
}

nav {
    background-color: var(--cor5);
    padding-bottom: 10px;
}

nav > a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: bolder;
    font-size: 1.2em;
    transition-duration: 0.5s;
}

nav > a:hover {
    text-decoration: underline;
    background-color: var(--cor2);
    color: var(--cor4);
    border-radius: 10px;
}

main {
    background-color: white;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 30px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.480);
}

main h1 {
    font-family: var(--fonte-destaque);
    font-size: 1.5em;
    font-weight: bold;
}

main h2 {
    background-image: linear-gradient(to right, var(--cor2), transparent);
    font-family: var(--fonte-destaque);
    color: var(--cor3);
    font-size: 1.2em;
    font-weight: bold;
}

main p {
    font-family: var(--fonte-padrao);
    margin: 15px 0px;
    line-height: 1.6em;
    font-size: 1.1em;
    text-align: justify;
    text-indent: 30px;
}

main a {
    text-decoration: none;
    color: white;
    background-color: var(--cor4);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor2);
}

main img {
    width: 100%;
    margin-bottom: 20px;
}

div.video {
    background-color: var(--cor4);
    padding-bottom: 58.25%;
    position: relative;
    margin: 0px -20px 10px -20px;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
}

aside {
    background-color: var(--cor1);
    min-height: 300px;
    border-radius: 10px;
}

aside h3 {
    text-align: center;
    padding: 20px;
    background-color: var(--cor3);
    color: white;
    font-family: var(--fonte-textos);
    font-size: 1.2em;
    border-radius: 10px 10px 0px 0px;
}

aside ul {
    padding: 20px;
    font-size: 1.1em;
    list-style: inside;
    list-style-type: '\1F310\00A0\00A0';
}

aside ul > li {
    line-height: 1.2em;
    margin: 15px 0px;
}

footer {
    font-family: var(--fonte-textos);
    background-color: var(--cor5);
    text-align: center;
    color: white;
    padding: 5px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover { 
    text-decoration: underline;
    color: var(--cor2);
}
    